@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: #ffdc6c;
    --text-color: #000000;
    --span-color: #ff696b;
    --span-h1: #2f2f68;
    --header-background-color: rgba(242, 240, 240, 0.947);
    --hover-color: #2e68ff;
    --category-section-color: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif; 
    scroll-behavior: smooth; 
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}

body {
    min-height: 100vh;
}

svg{
    fill: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--hover-color);
}

.wrapper {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0, 0.2);
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
}

form {
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--primary-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1rem;
    font: inherit;
    border: none;
    border-left: none;
    transition: 150ms ease;
}

form input:hover {
    border: 2px solid #ac9d2c;
    border-left: none;
}

form input:focus {
    outline: none;
    border: 2px solid #ac9d2c;
}

form button {
    margin-top: 10px;
    border: none;
    font: inherit;
    background-color: var(--primary-color);
    border-radius: 1000px;
    font-weight: 600;
    padding: .85rem 4em;
    cursor: pointer;
    transition: 150ms ease;
}

form button:hover {
    opacity: 0.8;
}

@keyframes flyIn {
    from {
        transform: translateY(-100px); /* Start off-screen to the left */
        opacity: 0;
    }
    to {
        transform: translateX(0); /* Final position */
        opacity: 1;
    }
  }

* {
    animation: flyIn .8s ease-out;
  }

  #error-message {
    color: red;
  }




